
  
<mat-paginator id="pkmn-list-paginator"
[length]="fullPkmnListlength"
[pageSize]="pageSize"
[pageSizeOptions]="pageSizeOptions"
showFirstLastButtons                
(page)="onPaginate($event)">
</mat-paginator>


<ng-container *ngIf="fullPkmnSpriteList">
<div id="pkmn-list-container">
    <ng-container *ngFor="let sprite of fullPkmnSpriteList; let i = index" >
    <div class="pkmn-list-item" [style.background-image]="getBackgroundColor(sprite.type1.type.name,sprite.type2)" 
    #pkmnlistitem (window:resize)="0" [ngStyle]="{'height.px': pkmnlistitem.offsetWidth }"
    routerLink="/pkmnview/{{sprite.id}}" [state]="sprite">
        <img class="pkmn-list-img" src={{sprite.sprite}}>  
        <span class="pkmn-list-name">{{sprite.name}}</span>
        <span class="pkmn-list-id">{{sprite.id}}</span>
    </div>
    </ng-container>
</div>
</ng-container>



